.catalog-main {
  background-color: #ffffff;
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 70px;
    margin: 0 30px 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 70px;
    margin: 0 110px 70px;
  }
}

.catalog__title {
  @include margin-wrapper();
  padding: 30px 0;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  color: #000000;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    @include margin-wrapper($margin-left: 30px, $margin-right: 30px, $margin-top: 70px);
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    @include margin-wrapper($margin-left: 110px, $margin-right: 110px, $margin-top: 70px);
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

.catalog__list-wrapper {
  @include margin-wrapper ();
  display: flex;
  flex-direction: column;

  @include margin-wrapper($margin-left: 30px, $margin-right: 30px);
}

.catalog__card:last-child {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20px 20px 10px min-content 10px min-content 40px auto;
  gap: 0 0;
  margin-bottom: 100px;
  grid-template-areas:
    "card__image card__image card__image card__image"
    "card__image card__image card__image card__image"
    ". . . ."
    "card__title card__title card__title card__title"
    ". . . ."
    "card__test-option card__test-option card__test-option card__test-option"
    ". . . ."
    "card__button card__button card__button card__button";

  background-color: #ffffff;
  border-bottom: 2px solid #f2f2f2;

  .card__title {
    text-align: center;
  }

  .card__button {
    min-height: 40px;
    color: #444444;
    background-color: #f2f2f2;
    transform: translateY(60px);

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  .card__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__image::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      width: 60px;
    }
  }

  .card__image::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);

    @media (min-width: $tablet-width) {
      width: 60px;
    }
  }

  .card__test-option {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 20px;
    border: none;
  }

  .card__mass-option {
    height: 19px;
    border: none;
  }

  .card__price-option {
    height: 19px;
    border: none;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 150px;
    margin-bottom: 50px;
    min-height: 370px;
    padding: 0;
    box-sizing: border-box;
    grid-template-columns: 25px 20% 20% 20% 20% 25px;
    grid-template-rows: 10px 20px 40px 40px min-content min-content min-content 40px 40px 40px;
    gap: 0 0;
    grid-template-areas:
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__title card__title card__title card__title ."
      ". card__title card__title card__title card__title ."
      ". card__test-option card__test-option card__test-option card__test-option ."
      ". . . . . ."
      ". card__button card__button card__button card__button .";
    border: 2px solid #f2f2f2;
  }
}

.catalog__card {
  position: relative;
  display: grid;
  margin-bottom: 50px;
  padding: 25px 20px 30px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto 10px min-content min-content min-content 20px 40px;
  gap: 0 0;
  grid-template-areas:
    "card__image card__image card__title card__title"
    "card__image card__image card__title card__title"
    "card__image card__image . ."
    "card__image card__image card__mass-option card__mass-option"
    "card__image card__image card__test-option card__test-option"
    "card__image card__image card__price-option card__price-option"
    ". . . ."
    "card__button card__button card__button card__button";

  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 150px;
    margin-bottom: 50px;
    min-height: 370px;
    padding: 0;
    box-sizing: border-box;
    grid-template-columns: 25px 20% 20% 20% 20% 25px;
    grid-template-rows: 10px 20px 40px 40px min-content min-content min-content min-content min-content 40px auto 40px;
    gap: 0 0;
    grid-template-areas:
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__image card__image card__image card__image ."
      ". card__title card__title card__title card__title ."
      ". card__title card__title card__title card__title ."
      ". card__mass-option card__mass-option card__mass-option card__mass-option ."
      ". card__test-option card__test-option card__test-option card__test-option ."
      ". card__price-option card__price-option card__price-option card__price-option ."
      ". . . . . ."
      ". card__button card__button card__button card__button .";
    background-color: #f2f2f2;
  }
}

.card__image {
  grid-area: card__image;
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
  }
}

.catalog__card:nth-child(even) .card__image-set {
  @include set-size(85px, 100px);

  @media (min-width: $tablet-width) {
    @include set-size(160px, 170px);
  }
}

.catalog__card:nth-child(odd) .card__image-set {
  @include set-size(70px, 85px);

  @media (min-width: $tablet-width) {
    @include set-size(170px, 210px);
  }
}

.card__title {
  grid-area: card__title;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  text-transform: uppercase;

  color: #222222;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__mass-option {
  grid-area: card__mass-option;
  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 10px 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.mass-option__char {
  width: 50px;
  text-align: start;

  @media (min-width: $tablet-width) {
    width: 100px;
  }
}

.card__test-option {
  grid-area: card__test-option;

  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 10px 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.test-option__char {
  width: 50px;
  text-align: start;

  @media (min-width: $tablet-width) {
    width: 100px;
  }
}

.card__price-option {
  grid-area: card__price-option;

  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 10px 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.price-option__char {
  width: 50px;
  text-align: start;

  @media (min-width: $tablet-width) {
    width: 100px;
  }
}

.card__button {
  grid-area: card__button;
  min-height: 40px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  background-color: #68b738;
  color: #ffffff;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

