.description {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.description-wrapper {
  @include margin-wrapper();

  @media (min-width: $tablet-width) {
    @include margin-wrapper ($margin-left: 30px, $margin-right: 30px);
  }

  @media (min-width: $desktop-width) {
    @include margin-wrapper ($margin-left: 110px, $margin-right: 110px);
  }
}

.description__title {
  margin: 20px 0 40px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 20px 0 40px;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
  }
}

.description__list {
  @include set-list ();
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 660px;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: auto;
  }
}

.description-list__item {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #444444;

  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 250px;
    flex-direction: column;
  }

  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      background: url("../../files/img/2.svg") no-repeat;
      background-position: 98%;
    }

    .description-list__label {
      background-image: url("../../files/img/icon_leaf.svg");
      background-size: 30px 30px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      background: url("../../files/img/2.svg") no-repeat;
      background-position: 98%;
    }

    .description-list__label {
      background-image: url("../../files/img/icon_tub.svg");
      background-size: 30px 30px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      background: url("../../files/img/3.svg") no-repeat;
      background-position: 98%;
    }

    .description-list__label {
      background-image: url("../../files/img/icon_eat.svg");
      background-size: 30px 30px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      background: url("../../files/img/4.svg") no-repeat;
      background-position: 98%;
    }

    .description-list__label {
      background-image: url("../../files/img/icon_alarm.svg");
      background-size: 30px 30px;
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }
}


.description-list__label {
  position: relative;
  margin-right: 20px;

  @include set-size(60px, 60px);
  background-color: #68b738;
  z-index: 2;

  @media (min-width: $tablet-width) {
    @include set-size(80px, 112px);
    margin-right: 0;
  }
}

.description__list-text {
  margin: 0;
  width: 80%;
  height: 100%;
  justify-self: flex-end;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #444444;
  z-index: 1;

  @media (min-width: $tablet-width) {
    transform: translateY(40px);
    width: 100%;
  }
}
